apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: db-service-1
  labels:
    kubernetes.io/service-name: db-service
  namespace: {{namespace}}
addressType: IPv4
ports:
  - name: dbpsg 
    protocol: TCP
    port: {{dbport}}
endpoints:
  - addresses:
      - "{{dbip}}"
