apiVersion: v1
kind: Pod
metadata:
  name: ping-pod
  namespace: {{namespace}}
spec:
  containers:
    - name: {{name_app}}
      image: {{nexus_repository_url}}/{{nexus_repo}}/{{name_app}}:{{docker_image_tag}}
  imagePullSecrets:
    - name: {{secret_name}}
