apiVersion: v1
kind: Pod
metadata:
  name: ping-pod
  namespace: {{namespace}}
spec:
  containers:
    - name: {{name-app}}
      image: {{nexus_repository_url}}/{{nexus_repo}}/{{name-app}}:{{docker_image_tag}}
  imagePullSecrets:
    - name: nexus-docker-secret-2
