apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vault-auth-rolebinding
  namespace: {{ vault_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ vault_app_service_account }}
    namespace: {{ vault_namespace }}
roleRef:
  kind: Role
  name: vault-auth-role
  apiGroup: rbac.authorization.k8s.io
