apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: {{ vault_namespace }}
data:
  vault.hcl: |
    storage "raft" {
      path = "/vault/data"
      node_id = "vault-1"
    }
    listener "tcp" {
      address     = "0.0.0.0:8200"
      tls_disable = true
    }
    ui = true
